Package: reminfo
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: procps, bash, lsb-release
Maintainer: Zakaria Ajaddou <zajaddou@student.1337.ma>
Description: A tool to store, manage, and retrieve commands, config paths, and notes.
